---
import { CollectionEntry, getCollection } from "astro:content";
import CategoryAndDate from "@src/components/CategoryAndDate.astro";
import { SITE } from "@src/constants";
import BaseLayout from "@src/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();
const title = `${post.data.title} · ${SITE.title}`;
---

<BaseLayout title={title}>
  <div class="bg-bg-default border border-border-default rounded-md">
    <div class="p-4 border-b border-border-default">
      <h2 class="text-2xl font-semibold mb-2">{post.data.title}</h2>
      <CategoryAndDate post={post} />
    </div>
    <div class="p-4">
      <article class="prose max-w-none">
        <Content />
      </article>
      <div class="giscus mt-4"></div>
    </div>
  </div>
</BaseLayout>
